.LandingScreenContentWrapper {
    min-height: calc(100vh - 42px); /* Subtract footer height */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; /* Add space above footer */
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 900px) {
    .LandingScreenContentWrapper {
        min-height: auto; 
        margin-bottom: 80px; /* Add more space on mobile */
    }
}

.LandingScreenContent {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    order: 1;

    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        align-items: center;
        min-height: auto;
        padding-bottom: 40px;
    }
}

.LandingScreenContent__ImageUploadWrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    order: 2;
    margin-bottom: 60px;

    .LandingScreenContent__ImageUpload {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            text-align: center;
            margin-left: 0;
            margin-bottom: 40px;
        }
    }
}

.LandingScreenContent__SearchGif {
    position: relative;
    z-index: 2;
    top: -200px;
    left: 200px;
}