.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13pt;
    .Header__Wrapper{
        width: 90vw;
        display: flex;
        justify-content: space-between;
        .Header__VibeLogo{
            width: 69px;
            @media screen and (max-width: 900px){
                display: none;  
            }
        }
        .Header__GuestAccount{
            height: 50px;
            border-radius: 50%;
            @media screen and (max-width: 900px){
                margin-right: 200px;
            }
        }
    }
}