.CompaniesMarquee__Marquee {
  width: 100%;
  overflow: hidden;
}

.CompaniesMarquee__logoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CompaniesMarquee__Logo {
  margin-left: 36pt;
  height: 40pt;
  margin-bottom: 22pt;
}