.CompaniesMarquee__Marquee {
  width: 100%; /* Make it 100% to occupy full space */
  overflow: hidden; /* Hide any overflow */
}

.CompaniesMarquee__Marquee .CompaniesMarquee__logoRow {
  display: flex;
  justify-content: space-around; /* Distribute logos evenly */
  align-items: center; /* Vertically center logos */
}

.CompaniesMarquee__Marquee .CompaniesMarquee__logoRow .CompaniesMarquee__Logo {
  height: 40pt;
  margin: 0 36pt; /* Remove top/bottom margin and keep side margins */
}
