.ToBeLaunched__Content{
    display: flex;
    height: 87vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.ToBeLaunched__Footer{
    // position: relative;
    // bottom: -30px;
}