.SwipeGame {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .SwipeGame__Card {
        height: 62vh;
        cursor: grab;
    }

    .SwipeGame__Card_grab {
        height: 62vh;
        cursor: grab;
    }

    .SwipeGame__Card_grabbing {
        height: 62vh;
        cursor: grabbing;
    }
}