.Description__SignIn{
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 900px){
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        align-items: center;
    }
}
.Description__GoogleSignIn{
    height: 7vh;
    cursor: pointer;
}
.Description__EarlyAccessNotifier{
    font-weight: 400;
    font-size: 16px;
    color: #596168CF;
    margin-top: 5pt;
    @media screen and (max-width: 900px){
        text-align: center;
    }
}